{% extends 'base.html.twig' %}

{% block title %}Validation de votre changement d'adresse mail{% endblock %}

{% block body %}
    <p>Bonjour, </p>

    <p>
        Vous avez demandé la réinitialisation de votre mot de passe.<br>
        Si vous souhaitez créer un nouveau mot de passe, cliquez sur le bouton ci-dessous.
    </p>

    <div class="col-md-12 text-center mt-4 mb-4">
        <a role="button" class="btn btn-white-primary" href="{{ update_password_url }}">Définir un nouveau mot de passe</a>
    </div>

    <p>
        Pour toute question technique, le service support est à votre disposition à l'adresse suivante : support@oasys.fr
    </p>

    <p>
        Cordialement,<br>
        L'équipe Oasys.
    </p>

    <p class="col-6 offset-3 text-center">
        <a class="text-center" href="{{ update_password_url }}">Lien de rénitialisation du mot de passe</a>
    </p>
{% endblock %}
