$consultant-light: #b837b3;
$consultant-primary: #7f267b;
$mobilisation: #008ba6;
$mobilite: #6bc1b7;
$dirigeant: #b0b1b8;
$carriere: #b2c85f;
$carriere-darker: #73852e;
$gris_44: #979797;
$gris_70: #b3b2b3;
$gris_80: #cccccc;
$gris_94: #efefef;
$gris-bg: #f5f7fa;
$white: #ffffff;
$black: #000000;
$jaune: #f7b500;
$jaune-dark: #ad7f00;
$azure: #00bdf7;
$azure-dark: #0085ad;
$vert: #1cc959;
$vert-light: #59e88c;
$rouge: #e02020;
$rouge-light: #ff6060;
